/* ----------------------------------------------------------------------------
 * CSS baseline by Steve Rydz (https://steverydz.com)
 * 
 * Partly inspired by the following video by Kevin Powell:
 * https://www.youtube.com/watch?v=eWmDW4zEXt4
 * 
 * License type: MIT (https://opensource.org/license/mit)
 * ------------------------------------------------------------------------- */

:root {
  --base: #fff;
  --text: #000;
}

@media (prefers-color-scheme-dark) {
  :root {
    --base: #000;
    --text: #fff;
  }
}

[data-theme="light"] {
  color-scheme: light;
  --base: #fff;
  --text: #000;
}

[data-theme="dark"] {
  color-scheme: dark;
  --base: #000;
  --text: #fff;
}

html {
  box-sizing: border-box;
  color-scheme: dark light;
  hanging-punctuation: first last;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--base);
  color: var(--text);
  margin: 0;
}

body > :is(header, footer),
main,
section,
article {
  container-type: inline-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  max-width: 65ch;
  text-wrap: pretty;
}

img {
  /* Useful if using the lo-res placeholder image approach
   * See: https://csswizardry.com/2023/09/the-ultimate-lqip-lcp-technique/ */
  background-repeat: no-repeat;
  background-size: cover;

  /* Sets alt text apart if visible on page */
  font-style: italic;

  max-width: 100%;
  height: auto;

  /* Default shape-margin for floated images */
  shape-margin: 1rem;

  /* Fixes baseline alignment */
  vertical-align: middle;
}

@media (prefers-reduced-motion: no-preference) {
  /* Smooth scrolling within overflow scroll containers */
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}
